.cart {
    position: fixed;
    top: 50px;
    right: 50px;
}

.cartButton {
    position: relative;
    width: 70px;
    height: 70px;
    background-color: #66D17E;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.302 26.1618C10.8653 26.1618 8.88286 28.1442 8.88286 30.5809C8.88286 33.0176 10.8653 35 13.302 35C15.7387 35 17.7211 33.0176 17.7211 30.5809C17.7211 28.1442 15.7387 26.1618 13.302 26.1618ZM13.302 32.3485C12.3271 32.3485 11.5344 31.5558 11.5344 30.5809C11.5344 29.606 12.3271 28.8133 13.302 28.8133C14.2764 28.8133 15.0696 29.606 15.0696 30.5809C15.0696 31.5557 14.2769 32.3485 13.302 32.3485Z' fill='white'/%3E%3Cpath d='M26.3826 26.1618C23.9458 26.1618 21.9634 28.1442 21.9634 30.5809C21.9634 33.0176 23.9458 35 26.3826 35C28.8193 35 30.8017 33.0176 30.8017 30.5809C30.8017 28.1442 28.8193 26.1618 26.3826 26.1618ZM26.3826 32.3485C25.4077 32.3485 24.6149 31.5558 24.6149 30.5809C24.6149 29.606 25.4077 28.8133 26.3826 28.8133C27.3574 28.8133 28.1502 29.606 28.1502 30.5809C28.1502 31.5557 27.3574 32.3485 26.3826 32.3485Z' fill='white'/%3E%3Cpath d='M34.0488 8.63196C33.7969 8.31553 33.4151 8.1313 33.0112 8.1313H9.79763L8.59253 2.04084C8.48692 1.50744 8.06624 1.0925 7.53105 0.994403L2.2281 0.0221996C1.5065 -0.110827 0.817098 0.366935 0.68496 1.08723C0.552822 1.80753 1.02963 2.49823 1.74999 2.63037L6.16647 3.43995L10.0571 23.1046C10.1799 23.7255 10.7248 24.1731 11.3576 24.1731H29.9179C30.5352 24.1731 31.0704 23.7476 31.2096 23.1452L34.303 9.75531C34.394 9.36156 34.3003 8.94792 34.0488 8.63196ZM28.8635 21.5217H12.4464L10.3222 10.7832H31.3439L28.8635 21.5217Z' fill='white'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    border: 1px solid rgba(0,0,0,.2);
    cursor: pointer;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.cartButton:focus {
    outline: none;
}

.cartButton span {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background-color: #FF0000;
    border-radius: 100%;
    color: #fff;
    font-weight: bold;
}
